In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('country_wise_latest.csv')

In [3]:
df1

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [4]:
df1.head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [5]:
df1.dtypes

Country/Region             object
Confirmed                   int64
Deaths                      int64
Recovered                   int64
Active                      int64
New cases                   int64
New deaths                  int64
New recovered               int64
Deaths / 100 Cases        float64
Recovered / 100 Cases     float64
Deaths / 100 Recovered    float64
Confirmed last week         int64
1 week change               int64
1 week % increase         float64
WHO Region                 object
dtype: object

In [6]:
df1.isnull().any()

Country/Region            False
Confirmed                 False
Deaths                    False
Recovered                 False
Active                    False
New cases                 False
New deaths                False
New recovered             False
Deaths / 100 Cases        False
Recovered / 100 Cases     False
Deaths / 100 Recovered    False
Confirmed last week       False
1 week change             False
1 week % increase         False
WHO Region                False
dtype: bool

In [7]:
df2=pd.read_csv('worldometer_data.csv')

In [8]:
df2

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
205,Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
206,Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
207,Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
208,Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [10]:
df2.dtypes

Country/Region       object
Continent            object
Population          float64
TotalCases            int64
NewCases            float64
TotalDeaths         float64
NewDeaths           float64
TotalRecovered      float64
NewRecovered        float64
ActiveCases         float64
Serious,Critical    float64
Tot Cases/1M pop    float64
Deaths/1M pop       float64
TotalTests          float64
Tests/1M pop        float64
WHO Region           object
dtype: object

In [11]:
df2.isnull().any()

Country/Region      False
Continent            True
Population           True
TotalCases          False
NewCases             True
TotalDeaths          True
NewDeaths            True
TotalRecovered       True
NewRecovered         True
ActiveCases          True
Serious,Critical     True
Tot Cases/1M pop     True
Deaths/1M pop        True
TotalTests           True
Tests/1M pop         True
WHO Region           True
dtype: bool

In [12]:
df2.isnull()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False
1,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False
2,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False
3,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False
4,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,False,False,False,False,True,False,True,False,True,False,True,False,False,False,False,True
205,False,False,False,False,True,True,True,False,True,False,True,False,True,False,False,True
206,False,False,False,False,True,True,True,False,True,False,True,False,True,False,False,True
207,False,False,False,False,True,True,True,False,True,False,True,False,True,True,True,False
208,False,False,False,False,True,False,True,False,True,False,True,False,False,True,True,False

In [13]:
df2_clean=df2.copy()

In [14]:
df2_clean=df2.fillna(0)

In [16]:
df2_clean

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,0.0,162804.0,0.0,2576668.0,0.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,0.0,98644.0,0.0,2047660.0,0.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,0.0,41638.0,0.0,1377384.0,0.0,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,0.0,14606.0,0.0,676357.0,0.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,0.0,9604.0,0.0,387316.0,0.0,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,0.0,1.0,0.0,10.0,0.0,2.0,0.0,2604.0,200.0,61.0,12220.0,0
205,Caribbean Netherlands,North America,2.624700e+04,13,0.0,0.0,0.0,7.0,0.0,6.0,0.0,495.0,0.0,424.0,16154.0,0
206,Falkland Islands,South America,3.489000e+03,13,0.0,0.0,0.0,13.0,0.0,0.0,0.0,3726.0,0.0,1816.0,520493.0,0
207,Vatican City,Europe,8.010000e+02,12,0.0,0.0,0.0,12.0,0.0,0.0,0.0,14981.0,0.0,0.0,0.0,Europe
208,Western Sahara,Africa,5.986820e+05,10,0.0,1.0,0.0,8.0,0.0,1.0,0.0,17.0,2.0,0.0,0.0,Africa

In [17]:
df2_clean.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,0.0,162804.0,0.0,2576668.0,0.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,0.0,98644.0,0.0,2047660.0,0.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,0.0,41638.0,0.0,1377384.0,0.0,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,0.0,14606.0,0.0,676357.0,0.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,0.0,9604.0,0.0,387316.0,0.0,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [18]:
df1.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [19]:
df1.dtypes

Country/Region             object
Confirmed                   int64
Deaths                      int64
Recovered                   int64
Active                      int64
New cases                   int64
New deaths                  int64
New recovered               int64
Deaths / 100 Cases        float64
Recovered / 100 Cases     float64
Deaths / 100 Recovered    float64
Confirmed last week         int64
1 week change               int64
1 week % increase         float64
WHO Region                 object
dtype: object

In [20]:
df1.rename(columns={'Country/Region': 'Country'},inplace=True)
df2_clean.rename(columns={'Country/Region': 'Country'},inplace=True)

In [21]:
df1.head()

,Country,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [22]:
df2_clean.head()

,Country,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,0.0,162804.0,0.0,2576668.0,0.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,0.0,98644.0,0.0,2047660.0,0.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,0.0,41638.0,0.0,1377384.0,0.0,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,0.0,14606.0,0.0,676357.0,0.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,0.0,9604.0,0.0,387316.0,0.0,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [24]:
df1.dtypes

Country                    object
Confirmed                   int64
Deaths                      int64
Recovered                   int64
Active                      int64
New cases                   int64
New deaths                  int64
New recovered               int64
Deaths / 100 Cases        float64
Recovered / 100 Cases     float64
Deaths / 100 Recovered    float64
Confirmed last week         int64
1 week change               int64
1 week % increase         float64
WHO Region                 object
dtype: object

In [23]:
df2_clean.dtypes

Country              object
Continent            object
Population          float64
TotalCases            int64
NewCases            float64
TotalDeaths         float64
NewDeaths           float64
TotalRecovered      float64
NewRecovered        float64
ActiveCases         float64
Serious,Critical    float64
Tot Cases/1M pop    float64
Deaths/1M pop       float64
TotalTests          float64
Tests/1M pop        float64
WHO Region           object
dtype: object

In [37]:
df2_clean.rename(columns={'TotalCases': 'Confirmed'},inplace=True)
df2_clean.rename(columns={'TotalDeaths': 'Deaths'},inplace=True)
df2_clean.rename(columns={'TotalRecovered': 'Recovered'},inplace=True)
df2_clean.rename(columns={'ActiveCases': 'Active'},inplace=True)
df1.rename(columns={'New cases': 'NewCases'},inplace=True)
df1.rename(columns={'New deaths': 'NewDeaths'},inplace=True)
df1.rename(columns={'New recovered': 'NewRecovered'},inplace=True)

In [38]:
df1.head()

,Country,Confirmed,Deaths,Recovered,Active,NewCases,NewDeaths,NewRecovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [39]:
df2_clean.head()

,Country,Continent,Population,Confirmed,NewCases,Deaths,NewDeaths,Recovered,NewRecovered,Active,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,0.0,162804.0,0.0,2576668.0,0.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,0.0,98644.0,0.0,2047660.0,0.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,0.0,41638.0,0.0,1377384.0,0.0,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,0.0,14606.0,0.0,676357.0,0.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,0.0,9604.0,0.0,387316.0,0.0,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [57]:
df1.dtypes

Country                      object
Confirmed                     int64
Deaths                        int64
Recovered                     int64
Active                        int64
NewCases                      int64
NewDeaths                     int64
NewRecovered                  int64
Deaths_per_100_cases        float64
Recovered_per_100_cases     float64
Deaths_per_100_Recovered    float64
Confirmed_last_week           int64
1_week_change                 int64
1_week_percent_increase     float64
WHO_Region                   object
dtype: object

In [62]:
df2_clean.dtypes

Country                  object
Continent                object
Population              float64
Confirmed                 int64
NewCases                float64
Deaths                  float64
NewDeaths               float64
Recovered               float64
NewRecovered            float64
Active                  float64
Serious,Critical        float64
Tot_Cases_per_1M_pop    float64
Deaths_per_1M_pop       float64
TotalTests              float64
Tests_per_1M_pop        float64
WHO_Region               object
dtype: object

In [61]:
df2_clean.rename(columns={'Tot Cases/1M pop':'Tot_Cases_per_1M_pop'},inplace=True)
df2_clean.rename(columns={'Deaths/1M pop':'Deaths_per_1M_pop'},inplace=True)
df2_clean.rename(columns={'Tests/1M pop':'Tests_per_1M_pop'},inplace=True)
df2_clean.rename(columns={'WHO Region':'WHO_Region'},inplace=True)

In [56]:
df1.rename(columns={'Deaths / 100 Cases': 'Deaths_per_100_cases'},inplace=True)
df1.rename(columns={'Recovered / 100 Cases': 'Recovered_per_100_cases'},inplace=True)
df1.rename(columns={'Deaths / 100 Recovered': 'Deaths_per_100_Recovered'},inplace=True)
df1.rename(columns={'Confirmed last week': 'Confirmed_last_week'},inplace=True)
df1.rename(columns={'1 week change': '1_week_change'},inplace=True)
df1.rename(columns={'1 week % increase': '1_week_percent_increase'},inplace=True)
df1.rename(columns={'WHO Region': 'WHO_Region'},inplace=True)

In [46]:
merged_data=pd.merge(df1,df2_clean,on="Country", how="inner")

In [48]:
merged_data

,Country,Confirmed_x,Deaths_x,Recovered_x,Active_x,NewCases_x,NewDeaths_x,NewRecovered_x,Deaths / 100 Cases,Recovered / 100 Cases,...,NewDeaths_y,Recovered_y,NewRecovered_y,Active_y,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region_y
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,...,0.0,25840.0,0.0,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,...,0.0,3155.0,0.0,2673.0,23.0,2091.0,65.0,38997.0,13553.0,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,...,0.0,23238.0,0.0,9115.0,57.0,766.0,29.0,0.0,0.0,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,...,0.0,828.0,0.0,64.0,1.0,12216.0,673.0,3750.0,48526.0,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,...,0.0,520.0,0.0,899.0,20.0,45.0,2.0,64747.0,1965.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,Vietnam,431,0,365,66,11,0,0,0.00,84.69,...,0.0,392.0,0.0,345.0,0.0,8.0,0.1,482456.0,4952.0,WesternPacific
167,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,...,0.0,8.0,0.0,1.0,0.0,17.0,2.0,0.0,0.0,Africa
168,Yemen,1691,483,833,375,10,4,36,28.56,49.26,...,0.0,898.0,0.0,362.0,0.0,59.0,17.0,120.0,4.0,EasternMediterranean
169,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,...,0.0,5786.0,0.0,1179.0,0.0,389.0,11.0,90307.0,4900.0,Africa
170,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,...,0.0,1264.0,0.0,2991.0,0.0,292.0,6.0,140421.0,9434.0,Africa

In [43]:
merged_data.to_csv('merged_data.csv',index=False)

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

In [64]:
df1.head()

,Country,Confirmed,Deaths,Recovered,Active,NewCases,NewDeaths,NewRecovered,Deaths_per_100_cases,Recovered_per_100_cases,Deaths_per_100_Recovered,Confirmed_last_week,1_week_change,1_week_percent_increase,WHO_Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [65]:
df2_clean.head()

,Country,Continent,Population,Confirmed,NewCases,Deaths,NewDeaths,Recovered,NewRecovered,Active,"Serious,Critical",Tot_Cases_per_1M_pop,Deaths_per_1M_pop,TotalTests,Tests_per_1M_pop,WHO_Region
0,USA,North America,3.311981e+08,5032179,0.0,162804.0,0.0,2576668.0,0.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,0.0,98644.0,0.0,2047660.0,0.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,0.0,41638.0,0.0,1377384.0,0.0,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,0.0,14606.0,0.0,676357.0,0.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,0.0,9604.0,0.0,387316.0,0.0,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [66]:
df1_sorted=df1.copy()
df1_sorted=df1.sort_values(by='Deaths',ascending=False)
df1_sorted

,Country,Confirmed,Deaths,Recovered,Active,NewCases,NewDeaths,NewRecovered,Deaths_per_100_cases,Recovered_per_100_cases,Deaths_per_100_Recovered,Confirmed_last_week,1_week_change,1_week_percent_increase,WHO_Region
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
177,United Kingdom,301708,45844,1437,254427,688,7,3,15.19,0.48,3190.26,296944,4764,1.60,Europe
111,Mexico,395489,44022,303810,47657,4973,342,8588,11.13,76.82,14.49,349396,46093,13.19,Americas
85,Italy,246286,35112,198593,12581,168,5,147,14.26,80.64,17.68,244624,1662,0.68,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Laos,20,0,19,1,0,0,0,0.00,95.00,0.00,19,1,5.26,Western Pacific
68,Greenland,14,0,13,1,1,0,0,0.00,92.86,0.00,13,1,7.69,Europe
30,Cambodia,226,0,147,79,1,0,4,0.00,65.04,0.00,171,55,32.16,Western Pacific
69,Grenada,23,0,23,0,0,0,0,0.00,100.00,0.00,23,0,0.00,Americas
114,Mongolia,289,0,222,67,1,0,4,0.00,76.82,0.00,287,2,0.70,Western Pacific

In [68]:
df1['Country']=df1['Country'].replace({'US':'USA'})

In [69]:
df1_sorted=df1.sort_values(by='Deaths',ascending=False)

In [70]:
df1_sorted

,Country,Confirmed,Deaths,Recovered,Active,NewCases,NewDeaths,NewRecovered,Deaths_per_100_cases,Recovered_per_100_cases,Deaths_per_100_Recovered,Confirmed_last_week,1_week_change,1_week_percent_increase,WHO_Region
173,USA,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
177,United Kingdom,301708,45844,1437,254427,688,7,3,15.19,0.48,3190.26,296944,4764,1.60,Europe
111,Mexico,395489,44022,303810,47657,4973,342,8588,11.13,76.82,14.49,349396,46093,13.19,Americas
85,Italy,246286,35112,198593,12581,168,5,147,14.26,80.64,17.68,244624,1662,0.68,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Laos,20,0,19,1,0,0,0,0.00,95.00,0.00,19,1,5.26,Western Pacific
68,Greenland,14,0,13,1,1,0,0,0.00,92.86,0.00,13,1,7.69,Europe
30,Cambodia,226,0,147,79,1,0,4,0.00,65.04,0.00,171,55,32.16,Western Pacific
69,Grenada,23,0,23,0,0,0,0,0.00,100.00,0.00,23,0,0.00,Americas
114,Mongolia,289,0,222,67,1,0,4,0.00,76.82,0.00,287,2,0.70,Western Pacific

In [74]:
merged_data=pd.merge(df1,df2_clean,on="Country",how="left")
merged_data.head()

,Country,Confirmed_x,Deaths_x,Recovered_x,Active_x,NewCases_x,NewDeaths_x,NewRecovered_x,Deaths_per_100_cases,Recovered_per_100_cases,...,NewDeaths_y,Recovered_y,NewRecovered_y,Active_y,"Serious,Critical",Tot_Cases_per_1M_pop,Deaths_per_1M_pop,TotalTests,Tests_per_1M_pop,WHO_Region_y
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,...,0.0,25840.0,0.0,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,...,0.0,3155.0,0.0,2673.0,23.0,2091.0,65.0,38997.0,13553.0,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,...,0.0,23238.0,0.0,9115.0,57.0,766.0,29.0,0.0,0.0,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,...,0.0,828.0,0.0,64.0,1.0,12216.0,673.0,3750.0,48526.0,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,...,0.0,520.0,0.0,899.0,20.0,45.0,2.0,64747.0,1965.0,Africa

In [75]:
merged_data.to_csv('merged_data.csv',index=False )

In [76]:
merged_data.isnull().any()

Country                     False
Confirmed_x                 False
Deaths_x                    False
Recovered_x                 False
Active_x                    False
NewCases_x                  False
NewDeaths_x                 False
NewRecovered_x              False
Deaths_per_100_cases        False
Recovered_per_100_cases     False
Deaths_per_100_Recovered    False
Confirmed_last_week         False
1_week_change               False
1_week_percent_increase     False
WHO_Region_x                False
Continent                    True
Population                   True
Confirmed_y                  True
NewCases_y                   True
Deaths_y                     True
NewDeaths_y                  True
Recovered_y                  True
NewRecovered_y               True
Active_y                     True
Serious,Critical             True
Tot_Cases_per_1M_pop         True
Deaths_per_1M_pop            True
TotalTests                   True
Tests_per_1M_pop             True
WHO_Region_y                 True
dtype: bool

In [77]:
merged_data.fillna(0)

,Country,Confirmed_x,Deaths_x,Recovered_x,Active_x,NewCases_x,NewDeaths_x,NewRecovered_x,Deaths_per_100_cases,Recovered_per_100_cases,...,NewDeaths_y,Recovered_y,NewRecovered_y,Active_y,"Serious,Critical",Tot_Cases_per_1M_pop,Deaths_per_1M_pop,TotalTests,Tests_per_1M_pop,WHO_Region_y
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,...,0.0,25840.0,0.0,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,...,0.0,3155.0,0.0,2673.0,23.0,2091.0,65.0,38997.0,13553.0,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,...,0.0,23238.0,0.0,9115.0,57.0,766.0,29.0,0.0,0.0,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,...,0.0,828.0,0.0,64.0,1.0,12216.0,673.0,3750.0,48526.0,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,...,0.0,520.0,0.0,899.0,20.0,45.0,2.0,64747.0,1965.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,...,0.0,8.0,0.0,1.0,0.0,17.0,2.0,0.0,0.0,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,...,0.0,898.0,0.0,362.0,0.0,59.0,17.0,120.0,4.0,EasternMediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,...,0.0,5786.0,0.0,1179.0,0.0,389.0,11.0,90307.0,4900.0,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,...,0.0,1264.0,0.0,2991.0,0.0,292.0,6.0,140421.0,9434.0,Africa

In [79]:
cleaned_merged_data=merged_data.copy()
cleaned_merged_data=merged_data.fillna(0)

In [80]:
cleaned_merged_data

,Country,Confirmed_x,Deaths_x,Recovered_x,Active_x,NewCases_x,NewDeaths_x,NewRecovered_x,Deaths_per_100_cases,Recovered_per_100_cases,...,NewDeaths_y,Recovered_y,NewRecovered_y,Active_y,"Serious,Critical",Tot_Cases_per_1M_pop,Deaths_per_1M_pop,TotalTests,Tests_per_1M_pop,WHO_Region_y
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,...,0.0,25840.0,0.0,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,...,0.0,3155.0,0.0,2673.0,23.0,2091.0,65.0,38997.0,13553.0,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,...,0.0,23238.0,0.0,9115.0,57.0,766.0,29.0,0.0,0.0,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,...,0.0,828.0,0.0,64.0,1.0,12216.0,673.0,3750.0,48526.0,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,...,0.0,520.0,0.0,899.0,20.0,45.0,2.0,64747.0,1965.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,...,0.0,8.0,0.0,1.0,0.0,17.0,2.0,0.0,0.0,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,...,0.0,898.0,0.0,362.0,0.0,59.0,17.0,120.0,4.0,EasternMediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,...,0.0,5786.0,0.0,1179.0,0.0,389.0,11.0,90307.0,4900.0,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,...,0.0,1264.0,0.0,2991.0,0.0,292.0,6.0,140421.0,9434.0,Africa

In [87]:
cleaned_merged_data.to_csv('mergeddata.csv',index=False)

In [86]:
cleaned_merged_data.dtypes

Country                      object
Confirmed_x                   int64
Deaths_x                      int64
Recovered_x                   int64
Active_x                      int64
NewCases_x                    int64
NewDeaths_x                   int64
NewRecovered_x                int64
Deaths_per_100_cases        float64
Recovered_per_100_cases     float64
Deaths_per_100_Recovered    float64
Confirmed_last_week           int64
1_week_change                 int64
1_week_percent_increase     float64
WHO_Region_x                 object
Continent                    object
Population                  float64
Confirmed_y                 float64
NewCases_y                  float64
Deaths_y                    float64
NewDeaths_y                 float64
Recovered_y                 float64
NewRecovered_y              float64
Active_y                    float64
Serious_or_Critical         float64
Tot_Cases_per_1M_pop        float64
Deaths_per_1M_pop           float64
TotalTests                  float64
Tests_per_1M_pop            float64
WHO_Region_y                 object
dtype: object

In [85]:
cleaned_merged_data.rename(columns={'Serious,Critical':'Serious_or_Critical' },inplace=True)